body {
    padding-top: 60px;
    padding-bottom: 60px;
}

.copyright {
    color: #ffffff;
}

.footer {
    text-align: center;
    background-color: #D73F09;
}

.header {
    background-color: #D73F09;
}

.footer a {
    color: #ee4444;
}

.sidebar h1 {
    color: #D73F09;
    font-size: 1.3em;
}

.sidebar a {
    color: #D73F09;
}

.sidebar li {
    margin-top: .7em;
    line-height: 1em;
}

.sidebar a:hover {
    color: #D73F09;
}

.container-left {
    margin: 0;
}

.well h1 {
    color: #ee4444;
    font-size: 1.3em;
}

.author {
    color: #D73F09;
}

.author a {
    color: #D73F09;
}

.navbar {
    background-color: #D73F09;
}

.navbar a {
    color: #D73F09;
}
.navbar brand {
    color: #D73F09;
}
.navbar-nav{
    background-color: #D73F09;
}

.img-logo{
    display: block;
    margin-left: 15px;
    margin-right: -5px;
    width: 60%;
}
