---
layout: default
---
<h1>BSA Members</h1>
<div class="well">
    {% assign sortedPosts = site.categories.people | sort: 'title' %}
    <table style="width:100%">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Affiliation</th>
        </tr>
        {%for post in sortedPosts %}
            {% if post.isStudent == 1 %}
                <tr>
                    <td>{{ post.title }}</td>
                    <td>{{ post.email }}</td>
                    <td>{{ post.affiliation }}</td>
                    </tr>
                {% endif %}
        {% endfor %}
        </table>
</div>
